name: PR
on: [pull_request]
jobs:
  size:
    name: Size Check
    runs-on: ubuntu-latest

    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Use Node 21.x
        uses: actions/setup-node@v4
        with:
          node-version: '21.x'

      - name: Install deps and build (with cache)
        uses: bahmutov/npm-install@v1
        with:
          install-command: npm ci --include=optional

      - uses: andresz1/size-limit-action@v1
        with:
          skip_step: install
          github_token: ${{ secrets.GITHUB_TOKEN }}

  test:
    name: Lint + Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        branch:
          - ${{ github.head_ref }}
          - 'main'

    permissions:
      contents: read

    steps:
      - name: Checkout Repo
        uses: actions/checkout@v4
        with:
          ref: ${{ matrix.branch }}

      - name: Use Node 21.x
        uses: actions/setup-node@v4
        with:
          node-version: '21.x'

      - name: Install deps and build (with cache)
        uses: bahmutov/npm-install@v1
        with:
          install-command: npm ci --include=optional

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test -- --coverage

      - name: 'Upload Coverage'
        uses: actions/upload-artifact@v4
        with:
          name: coverage-${{ matrix.branch }}
          path: coverage

  coverage:
    needs: test
    name: Coverage Report
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:
      - name: 'Download Coverage Artifacts'
        uses: actions/download-artifact@v4
        with:
          name: coverage-${{ github.head_ref }}
          path: coverage

      - uses: actions/download-artifact@v4
        with:
          name: coverage-main
          path: coverage-main

      - name: 'Report Coverage'
        uses: davelosert/vitest-coverage-report-action@v2
        with:
          json-summary-compare-path: coverage-main/coverage-summary.json
